/*Grid/Flex yapıları (Navbar, Footer, Main Container)*/


/* İçeriği ortalayan ve maksimum genişliği belirleyen ana taşıyıcı */
.container {
    max-width: var(--max-genislik);
    margin: 0 auto;
    padding: 0 var(--standart-bosluk);
}

/* Üst Menü (Navbar) Yerleşimi */
.header {
    background-color: var(--kutu-arkaplan);
    border-bottom: 3px solid var(--ana-renk); /* Kırmızı şerit */
    padding: 15px 0;
    margin-bottom: 40px; /* Header altı boşluk */
    box-shadow: var(--hafif-golge);
}

.nav-icerik {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* İlanları 3'lü veya 4'lü sütunlar halinde otomatik dizen Grid Sistemi */
.ilan-izgarasi {
    display: grid;
    /* Ekran küçülürse otomatik alt alta atar, minimum 280px genişlik verir */
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: var(--standart-bosluk); /* Kartlar arası boşluk */
}

/* Sayfa altı yerleşimi */
.footer {
    background-color: var(--koyu-renk);
    color: white;
    text-align: center;
    padding: 30px 0;
    margin-top: 60px;
}